Binaries
DerivedDataCache
Intermediate
Saved
Content
Plugins/*
.vscode
.vs
.idea
.p4one
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.slnx
*.suo
*.xcodeproj
*.xcworkspace

!Plugins/FVInteractionSystem
!Plugins/FVInteractionSystem/Content
!Plugins/FVFramework
!Plugins/FVFramework/Content
!Plugins/FVStorySystem
!Plugins/FVStorySystem/Content
!Plugins/FVInventorySystem
!Plugins/FVInventorySystem/Content
!Plugins/FVDialogueSystem
!Plugins/FVDialogueSystem/Content
!Plugins/FVSocialSystem
!Plugins/FVSocialSystem/Content
!Plugins/FVAttributeSystem
!Plugins/FVAttributeSystem/Content
!Plugins/FVNavigationSystem
!Plugins/FVNavigationSystem/Content
!Plugins/Flow
