Binaries
DerivedDataCache
Intermediate
Saved
Content
Plugins/*
.vscode
.vs
.idea
.p4one
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.slnx
*.suo
*.xcodeproj
*.xcworkspace

!Plugins/FVInteractionSystem